body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}

.scene {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #4f7efe, #ffffff);
	animation: gradient-shift 4s ease-in-out infinite;

	.clouds {
		position: absolute;
		top: 1%;
		width: 200%;
		height: 30%;
		background: url('https://static.vecteezy.com/system/resources/thumbnails/012/595/172/small/realistic-white-cloud-png.png')
			repeat-x;
		animation: move-clouds 50s linear infinite;
	}

	.pokemon {
		position: absolute;
		bottom: 10%;
		width: 100px;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.pikachu {
		background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/pikachu.gif');
		right: 10%;
		animation: jump 0.5s ease-in-out infinite;
	}

	.charizard {
		background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/charizard.gif');
		top: 35%;
		left: 40%;
		animation: fly 5s ease-in-out infinite;
	}

	.bulbasaur {
		background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/bulbasaur.gif');
		left: 20%;
		animation: move-right 12s linear infinite;
	}

	h4 {
		position: absolute;
		bottom: 1%;
		left: 1%;

		font-size: 14px;
		animation: move-top-down 10s linear infinite;
		box-shadow: 0 0 15px #000;
		padding: 5px 15px;
	}
}

@keyframes gradient-shift {
	from {
		background: linear-gradient(to bottom, #4f7efe, #ffffff);
	}
	to {
		background: linear-gradient(to bottom, #4f58fe, #ffffff);
	}
}

@keyframes move-clouds {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

@keyframes jump {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
}

@keyframes fly {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100px);
	}
}

@keyframes move-right {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(120vw);
	}
}

@keyframes move-top-down {
	0%,
	100% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-15px);
	}
}